@import url("https://fonts.googleapis.com/css?family=Lora:400,400i|Open+Sans:300,400,600,700,800");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    overflow: hidden;
}

.card1 {
    width: 100%;
    border: none;
    padding: 0 60px !important;
    margin-top: 15%;
}

.card2 {
    width: 100%;
    border: none;
    border-radius: none !important;
}

.card2 img {
    width: 100%;
    height: 100vh;
}

@media (max-width: 992px) {
    .card2 {
        display: none;
    }
    .card1 {
        margin-bottom: 10%;
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
        padding: 40px !important;
    }
}

.card1 .title {
    font-weight: 600;
    margin-left: 10px;
}

.card1 p {
    font-size: 16px;
    margin: 15px 0 15px 10px;
}

.input-field {
    position: relative;
}

.input-field span.fa-user {
    position: absolute;
    left: 5px;
    top: 34px;
    color: #333;
}

.input-field span.fa-lock {
    position: absolute;
    left: 15px;
    top: 42px;
    color: #333;
}

.input-field span.fa-user {
    position: absolute;
    left: 5px;
    top: 32px;
    color: #333;
}

.password .toggle-hide {
    font-size: 14px;
	color: #263238;
	position: absolute;
	top: 45px;
	right: 15px;
	cursor: pointer;
}

.input-field label {
    font-size: 13px;
    color: #000;
    margin-left: 10px;
    font-weight: 500;
    margin-bottom: 10px;
}

.form-control {
    font-size: 13px;
    color: #767473;
    font-weight: 500;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid #000;
    box-shadow: none;
    padding-left: 35px;
}

.form-control:focus {
    border-bottom: 3px solid#2e7eed;
    outline: none;
    box-shadow: none !important;
}

.form-control::placeholder {
    color: #B5B5B5;
}

.password, .email {
    margin-top: 30px !important;
}

.form-check {
    font-size: 12px;
}

.form-check span {
    cursor: pointer;
}

.btn {
    height: 35px;
    width: 100%;
    background-color: #000;
    font-weight: 500;
    color: #cdcdc4;
    border: none;
    font-size: 15px
}

.btn-blue.gradient {
    background-image: linear-gradient(45deg, #009EC5 0%, #2e7eed 20%, #02225B 50%);
    transition: 0.5s;
    color: white;
    border-radius: 50px;
    border: none;
}

.btn-blue.gradient.sign {
    padding: 25px !important;
    font-size: 18px;
}