@import url("https://fonts.googleapis.com/css?family=Lora:400,400i|Open+Sans:300,400,600,700,800");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    overflow: hidden;
}

.btn-blue {
    background: #02225B !important;
    color: #fff;
    padding: 8px 30px;
}

.btn-blue:hover {
    color: #fff !important;
}

.card-img {
    width: 100%;
    border: none;
    border-radius: none !important;
    background-color: #f1f5f8;
    height: 100vh;
}

.card-img img {
    max-width: 300px;
    margin: auto;
}

@media (max-width: 940px) {
    .card-img img {
        max-width: 250px;
    }
}

.form-content {
    padding: 30px 50px;
    max-width: 800px;
}

.form-content img {
    max-width: 180px;
}

.form-content h3 {
    font-weight: 700;
    margin-top: 50px;
}

.form-content .text-box {
    max-width: 500px;
    padding: 15px 0;
    color: #777777;
}

.form-content .text-box p {
    font-weight: 500;
}

.form-content label {
    font-weight: 600;
}

.form-control:focus {
    outline: none;
    box-shadow: 0 0 0 0.15rem rgba(25, 61, 192, 0.25);
}

.username, .password {
    position: relative;
}

.form-main .toggle-hide {
	font-size: 14px;
	color: #263238;
	position: absolute;
	top: 45px;
	right: 15px;
	cursor: pointer;
}

@media (max-width: 767px) {
    .card-img {
        display: none;
    }
    .form-content {
        margin-bottom: 30px;
    }
}

@media (max-width: 430px) {
    .form-main .form-control {
        font-size: 12px;
    }
    .form-content h3 {
        font-size: 1.3rem;
    }
    .form-content .text-box {
        font-size: 0.8rem;
        padding: 10px 0;
    }
    .form-main label {
        font-size: 14px;
    }
    .form-main small {
        font-size: 10px;
    }
    .form-main .toggle-hide {
        top: 40px;
    }
}